.features{
    margin-top: 5rem;
    margin-left: 20rem;
    transform: scale(0.8);

}
.featurename{
    color: #002147;
    font-size: 2rem;
    
}
.one{
    margin-right: 1rem;
    
}
.two{
    margin-right: 1rem;
}
.four{
    margin-right: 1rem;
}
.five{
    margin-right: 1rem;
}
.seven{
    margin-right: 1rem;
}
.eight{
    margin-right: 1rem;
}
.list_1{
    margin-top: 2rem;
    margin-right: 2rem;
    
    
}
.list_2{
  margin-top: 2rem;  
  margin-right: 2rem;

}

.list_3{
    margin-top: 2rem;
    margin-right: 2rem;

}